<h1>Welcome to MLG X DOGE Speak</h1>
<h1>Happy Birthday Aaron and Bradley, I made this app to help you speak proper MLG X DOGE English</h1>
<br>
  <form action="/points">
    <div class="form-group">
       <label for="word">Convert a sentence to MLG X Doge English</label>
       <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
